.btn{
    background-color: #b8c1ca; display: flex; justify-content:center; align-items:center ;height: 25	px;width:150px;
				padding-top: 7px;
    padding-left: 2px;
    padding-bottom: 7px;
    padding-right: 2px;
}